<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ABC 가계부</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="frame">
    <div>
        <img src = "https://github.com/tnrms08/portalProject/assets/79959379/03abfd60-ae4d-405d-af6d-68e205c40707"/>
    </div>
    <div>
        <h1>ABC 가계부</h1>
    </div>
    <div class="toLogin">
        <a href="/user/login" class="link">로그인하러 가기</a>
    </div>
</div>
</body>
</html>
