<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ABC 가계부</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="frame loginFrame">
    <div>
      <h1>ABC 가계부</h1>
    </div>
    <div class="formOutline">
      <form th:action="@{/user/login}" method="post">
        <div th:if="${param.error}" class="formIn">
          <div>
            사용자ID 또는 비밀번호를 확인해 주세요.
          </div>
        </div>
        <div class="formIn">
          <label for="username"></label>
          <input class="loginForm"
                  placeholder="아이디를 입력하세요."
                  type="text" name="username" id="username">
        </div>
        <div  class="formIn">
          <label for="password"></label>
          <input class="loginForm"
                  placeholder="비밀번호를 입력하세요."
                  type="password" name="password" id="password">
        </div>
        <div class="buttonFrame">
          <button type="submit" class="link login">로그인</button>
          <a href="signup" class="link signup">회원가입</a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>