<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ABC 가계부</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="frame loginFrame">
  <div>
      <h2>회원가입</h2>
  </div>
  <div class="formOutline">
    <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
      <div th:replace="~{form_errors :: formErrorsFragment}"></div>
      <div  class="formIn">
        <label for="username"></label>
        <input class="loginForm" placeholder="ID를 입력해주세요." type="text" th:field="*{username}">
      </div>
      <div  class="formIn">
        <label for="password"></label>
        <input class="loginForm" placeholder="비밀번호를 입력해주세요." type="password" th:field="*{password}">
      </div>
      <div class="formIn">
        <label for="password2"></label>
        <input class="loginForm" placeholder="비밀번호를 다시 입력해주세요." type="password" th:field="*{password2}">
      </div>
      <div class="formIn">
        <label for="email"></label>
        <input class="loginForm" placeholder="이메일을 입력해주세요." type="email" th:field="*{email}">
      </div>
      <div class="buttonFrame">
        <a class="link back" href="/user/login">이전</a>
        <button  class="link login" type="submit">회원가입</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>